#a, .b, .c, .e, .d {
  padding: 10px;
  font-size: 11px;
}

#a {
  display: inline-block;
  margin-right: 10px;
  background: red;
  padding: 10px;
  text-align: center;
}

.b, .c {
  text-align: center;
}

.b {
  display: inline-block;
  margin-right: 10px;
  background: orange;
  padding: 10px;
}

.c {
  padding: 10px;
  background: yellow;
  display: inline-block;
}

.e {
  padding: 10px;
  background: deeppink;
}

.d {
  margin: 10px;
  padding: 20px;
  background: green;
}
