.b, .c {
  text-align: center;
}
.b {
  display: inline-block;
  width: 50px;
  margin-right: 20px;
  background: orange;
  padding: 10px;
}

.c {
  padding: 20px;
  background: yellow;
  display: inline-block;
}

.e {
  padding: 20px;
  background: deeppink;
}

.d {
  margin: 20px;
  padding: 20px;
  background: green;
}
